/* import font family  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* utilizes styles */
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
}

/* header styles start */
header{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1100px;
}
/* nav bar styles */
.nav{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
/* ----------- */

/* banner styles */
.heading-banner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}    
.banner-detail{
    width: 600px;
}
.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
.banner-text{
    width: 790px;
    align-items:  center;
}
.banner-text p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.banner-btn{
    width: 160px;
    height: 64px;
    background: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border: #FF900E;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;

}

.banner-img img{
    width: 1100px;
    height: 540px;
    border-radius: 8px;
    margin-top: 50px;
}

/* ----------- */

/* main part */
/* section-1 */
.features{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    
}
.features-img img{
    width: 250px;
    height: 250px;
}
 .feature-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
 }
 .feature-title{
    font-size: 45px;
    font-weight: 700;
 }
 .feature-text{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
 }
 .feature-btn{
    width: 160px;
    height: 64px;
    background: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border: #FF900E;
    font-size: 20px;
    font-weight: 600;
 }
 /* ---------- */

 /* section-2 */
 .feature-explain{
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 130px;
 }
 .explaining{
    width: 550px;
    height: 750px;
    margin-top: 50px;
 }
 .exp-title{
    border-left: 5px solid #FF900E;
 }
 .exp-img-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .exp-img img{
    width: 550px;
    height: 750px;
 }
.ex-btn{
    background-color: #FF900E;
    color: white;
    border: #FF900E;
    width: 250px;
    height: 150px;
    border-radius: 8px;
}
/* --------- */

/* section-3 */

/* ---------- */

/* section-4 */
.boxes{
    display: flex;
    gap: 70px;
    justify-content: center;
}
.box{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 1px solid #FF900E;
}
/* -------- */

/* section-5 */

/* --------- */

/* section-6 */
.sponsors{
    display: flex;
    justify-content: center;
    gap: 40px;
}
/* ------- */

/* footer */
footer{
    background-color: rgba(255, 244, 231, 1);
}