/* import font family  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* utilizes styles */
body{
    font-family: 'Work Sans', sans-serif;
}

/* header styles start */
header{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
}
/* nav bar styles */
.nav{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
/* ----------- */

/* banner styles */
.heading-banner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}    

.banner-title h1{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.banner-text p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.banner-btn{
    width: 180px;
    height: 64px;
    background: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border: #FF900E;
    font-size: 20px;
    font-weight: 600;

}

.banner-img img{
    width: 1000px;
    height: 540px;
    border-radius: 8px;
}

/* ----------- */

/* main part */
/* section-1 */
.features{
    display: flex;
    gap: 40px;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px4;
}
 .feature-detail{
    align-items: center;
 }
 /* ---------- */

 /* section-2 */
 .feature-experience{
    display: flex;
    align-items: center;  
 }
.ex-btn{
    background-color: #FF900E;
    color: white;
    border: #FF900E;
    border-radius: 8px;
}
/* --------- */

/* section-3 */

/* ---------- */

/* section-4 */
.boxes{
    display: flex;
    gap: 70px;
    justify-content: center;
}
.box{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 1px solid #FF900E;
}
/* -------- */

/* section-5 */

/* --------- */

/* section-6 */
.sponsors{
    display: flex;
    justify-content: center;
    gap: 40px;
}
/* ------- */

/* footer */
footer{
    background-color: rgba(255, 244, 231, 1);
}